.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__image {
  border-radius: 50%;
  margin-bottom: 32px;
}

.intro__name {
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .intro__name {
    font-size: 3rem;
  }
}

.intro__summary {
  font-size: 1.2rem;
  margin: 10px 0;
  font-weight: 300;
}

.social-icons {
  margin-top: 20px;
}

.social-icons__icon {
  margin: 0 0.5rem;
}

.svg-inline__fa {
  width: 1.5rem;
}

.svg-inline__fa--bigger {
  width: 1.7rem;
}

.company-link {
  color: #490f9e;
}

.company-link > span {
  color: inherit;
  position: relative;
}

.company-link > span::after {
  content: '';
  position: absolute;
  background-color: #490f9e;
  bottom: -2px;
  height: 2px;
  left: 0;
  width: 100%;
  display: block;
}
